.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid grey;
}

.text {
  font-family: "Caramel", cursive;
  font-size: 48px;
}
